# Node artifact files
node_modules/
dist/

# CDK/env files
cdk.out
cdk.context.json
.env

# GraphQL output
graphql.out

# Generated
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tsconfig.tsbuildinfo

# JetBrains IDE
.idea/
